/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

.flex-con {
    display: flex;
}

.container{
    flex-basis: 1200px;
    align-items: center;
    margin: 0 auto;
}

ul{
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
}

a{
    padding: 0 var(--space-xs);
    text-decoration: none;
    color: black;
}

hr{
    color: white;
}

/* Utils */

:root{
    --space-xs: 10px;
    --space-sm: 15px;
    --space-nm: 50px
}

.rt-align{
    text-align: right;
}

.dashed {
    border: 1px dashed black;
}

.white {
    border-color: white;
}

.gray-bg{
    background-color: lightgray;
}

.white-bg{
    background-color: white;
}

.row-reverse{
    flex-direction: row-reverse;
}
/* Header */

header{
    min-height: 80px;
    background-color: lightblue;
    align-items: center;
}

nav{
    flex-wrap: wrap;
}

.navbar {
    padding: var(--space-xs);
    background-color: goldenrod;
}

.side{
    flex-basis: 20%;
}

.center{
    flex-basis: 60%;
}

/* Main */

#main-section{
    background-color: darkblue;
    min-height: 500px;
    justify-content: center;
    align-items: center;
}

.center-box{
    background-color: violet;
    flex-basis: 1000px;
    min-height: 400px;
}

.secondary-section{
    min-height: 600px;
}

.big-box{
    background-color: dodgerblue;
    flex-basis: 60%;
    min-height: 500px;
    
}

.small-box{
    background-color: pink;
    flex-basis: 40%;
    min-height: 500px;
}

#closing-section{
    min-height: 1000px;
}

.cl-section-box{
    background-color: darkgreen;
    flex-basis: 100%;
    min-height: 900px;
}

/* Link Section */

#link-section{
    background-color: rgb(35,39,42);
    min-height: 550px;
}

.link-con{
    align-items: flex-start;
    padding-top: var(--space-xs);
}

.link-big-box{
    background-color: palevioletred;
    flex-basis: 30%;
    min-height: 500px;
    margin-bottom: var(--space-nm)
}

.link-box-container{
    flex-basis: 70%;
    min-height: 500px;
    margin-bottom: var(--space-nm)
}

.link-small-box{
    background-color:rgb(32,178,170);
    flex-basis: 25%;
}